<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="css/style.css">
        <title>Project Three: Node Authentication</title>

</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-lock"> </span> Project Three: Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default">
                <span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default">
                <span class="fa fa-user"></span> Local Signup</a>
            <a href="/auth/facebook" class="btn btn-primary">
                <span class="fa fa-facebook"></span> Facebook</a>
            <a href="/auth/evernote" class="btn btn-success">
                <span class="fa fa-sticky-note"></span> Evernote</a>

        </div>

    </div>
</body>
<% include ../partials/footer %>

</html>