<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>
        <link rel="stylesheet" href="css/style.css">
        <script src="listjs.js"></script>
        <title>To Do List</title>
</head>

<body>
    <h1>My todo list</h1>

    <form action="/create_task" method="post">
        <input type="text" name="task">
        <input type="date" name="date">
        <input type="submit" value="create new task">
    </form>

    <table>
        <thead>
            <tr>
                <th>task</th>
                <th>date</th>
                <th>completed</th>
            </tr>
        </thead>
        <tbody>
            <!-- use query to fill this? -->
        </tbody>
    </table>
</body>

</html>