<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head %>
        <link rel="stylesheet" href="css/style.css">
        <title>To Do List</title>
</head>

<body>
    <div id="myDIV" class="header">
        <h2><%= name %> To Do List</h2>
        <input type="text" id="myInput" placeholder="List to do items...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
        <li>Hit the gym</li>
        <li>Pay bills</li>
        <li>Meet Libby</li>
        <li>Buy protein powder</li>
        <li>Read a book</li>
        <li>Organize office</li>
        <li>Code</li>
        <li>Debug</li>
    </ul>


    <div class="page-header text-center">
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/profile" class="btn btn-default btn-sm">Back to profile</a>
        </div>
    
    
    <script src="js/javascript.js"></script>


</body>
<% include ../partials/footer %>

</html>