<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="css/style.css">
        <title>To Do List</title>
</head>

<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"></a>
                </div>
            </div>
        </div>
        <div class="alert alert-dismissable"></div>
    </div>



</body>

</html>